*{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.infoContainer{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
.infoContainer img{
    width: auto;
    height: 320px;
    border-radius: 10px;
}
.titleContainer h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.titleContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#star{
    height: 20px;
    width: auto;
}
.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.tags{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}