*{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.infoContainer{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
.infoContainer img{
    width: auto;
    height: 340px;
    border-radius: 10px;
}
.titleContainer h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.titleContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#star{
    height: 20px;
    width: auto;
}
.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.rating p{
    margin: 10px;
}
.tags{
    display: flex;
    gap: 20px;
    
}
.tags p{
    padding: 10px 10px;
    background: #1f6f78;   /* muted teal */
  color: #e6f7f8;
    border-radius: 10px;
    font-size: 14px;
}
.syn{
    background-color: rgb(39, 38, 38);
    padding: 15px;
    padding-bottom: 0px;
    border-radius: 8px;
}