.details-nav-bar {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  background-color: #1a1a1a;
  border-bottom: 1px solid #292929;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(59, 59, 59);
}

/* Button styles */
.details-nav-bar button {
  background: none;
  border: none;
  cursor: pointer;

  font-family: sans-serif;
  font-weight: 500;
  font-size: 17px;

  color: #e0e0e0;
  transition: color 0.3s ease;
}

/* Hover */
.details-nav-bar button:hover {
  color: #ffca28;
}

/* Focus */
.details-nav-bar button:focus {
  outline: none;
}
