.outerBody {
  height: 380px;
  width: 240px;
  padding: 8px;

  display: flex;
  flex-direction: column;

  background-color: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 12px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.outerBody:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* Image */
.outerBody img {
  width: 100%;
  height: 145px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  
}

/* Anime title */
#name {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: white;
  margin: 10px 0;
}

/* Description */
.info {
  font-family: 'Poppins', sans-serif;
  font-size: 12.9px;
  color: grey;
  margin: 6px 0;
}

/* Tags */
.tag {
  display: flex;
  gap: 10px;
  margin: 8px 0;
  font-family: 'Poppins', sans-serif;
}

.tag p {
  font-size: 10px;
  color: lightgrey;
  background-color: #222;
  padding: 3px 8px;
  border-radius: 12px;
  cursor: pointer;
}

/* Button */
button {
  margin-top: auto;
  padding: 8px;
  border-radius: 6px;
  border: none;

  background-color: #e50914;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: bolder;
}

button:hover {
  background-color: #f40612;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
